---
layout: default
header: 
  title: Krooked Collective
  subtitle: A community of performing artists evolving entertainment through collaborative, evocative and experiential content
upcoming-events: 
  heading: Upcoming Events
  description_html: Fun description of the upcoming events. Are you a planner? If so, click "All Events" below.
  limit: 3
seo:
  title: Krooked Collective
  description: A community of performing artists evolving entertainment through collaborative, evocative and experiential content
  keywords:
  social_image:
  hide-from-google: true
---

<!-- Header -->
{% include hero-banner.html %}

<!-- About Section -->
<section class="p-10p">
  <h1 class="serif-lg text-light">{{page.header.title}}</h1>
  <h2 class="sans-md w-[80%]">{{page.header.subtitle}}</h2>
</section>

<!-- Upcoming Events -->
{% include upcoming-events.html %}

<!-- Subscribe -->
{% include section-subscribe.html %}