/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hanno';
    src: url('/fonts/Hanno-Regular.woff2') format('woff2'),
         url('/fonts/Hanno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fluta';
    src: url('/fonts/fluta-medium.woff2') format('woff2'),
         url('/fonts/fluta-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {
    body {
        @apply bg-black text-white font-sans
    }

    h1, h2, h3, h4, h5, h6  {
        @apply mb-[0.5em];
    }

    p {
        @apply mb-[0.5em] leading-normal tracking-wider text-[1.1rem]
    }

    p:last-child {
        @apply mb-0
    }

  }


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {
    /* Typography */
    .serif-lg {
        @apply font-serif text-[3rem] tracking-widest
    }

    /* Structure */
    .middle-center {
        @apply flex items-center justify-center
      }

    .tag {
        @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
    }

    .button  {
        @apply inline-block px-4 py-2 uppercase tracking-wide bg-zinc-800 text-white ;
    }

    /* Images & Video */
    .video-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .bg-video-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    
    .bg-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .text-overlay {
        position: relative;
        text-align: center;
        z-index: 10;
    }    

    .bg-image-style {
        @apply bg-[grey] bg-no-repeat bg-cover
    }

}