<form class="grid grid-cols-2 gap-2">
    <!-- First Name -->
    <div class="mc-field-group">
        <input type="text" name="first-name" class="required text bg-transparent border border-medium w-full focus:border-light focus:outline-none" placeholder=" First Name" id="first-name" required="" value="">
    </div>

    <!-- Last Name -->
    <div class="mc-field-group">
        <input type="text" name="last-name" class="required text bg-transparent border border-medium w-full focus:border-light focus:outline-none" placeholder=" Last Name" id="last-name" required="" value="">
    </div>

    <!-- Email -->
    <div class="mc-field-group md:col-span-2">
        <input type="email" name="email" class="required email bg-transparent border border-medium w-full focus:border-light focus:outline-none" placeholder=" Email" id="email" required="" value="">
    </div>

    <!-- Button -->
    <div class="clear col-span-2">
        <input type="submit" name="subscribe" class="button rounded-none py-0 cursor-pointer w-full border border-medium text-medium hover:text-light hover:border-light focus:border-red-500 focus:outline-none" value="Submit">
    </div>
</form>
