<!-- Mobile Devices -->
<section class="p-10p border-y border-medium lg:hidden">
    <h2 class="serif-lg text-light">{{ page.founders.heading }}</h2>
    {% for item in page.founders.founders %}
    <div class="mb-8">
        <h3 class="serif-md text-medium">{{ item.name_html }}</h3>
        <div class="grid grid-cols-2 mb-4">
            <div class="bg-image-style border border-light aspect-portrait-tall"
                style="background-image: url('{{ item.image-1.background_image }}'); background-position: {{ item.image-1.image_focus | default: 'center' }};">
            </div>
            <div class="bg-image-style border border-light"
                style="background-image: url('{{ item.image-2.background_image }}'); background-position: {{ item.image-2.image_focus | default: 'center' }};">
            </div>
        </div>
        <div>
            <p>{{ item.description_html }}</p>
        </div>
    </div>
    {% endfor %}
</section>


<!-- Desktop -->
<section class="p-10p border-y border-medium hidden lg:block">
    <h2 class="serif-lg text-light text-center">{{ page.founders.heading }}</h2>
    {% for item in page.founders.founders %}
    <div class="{% unless forloop.first %} mt-20 {% endunless %}">
        <h3 class="serif-md text-medium text-center mb-8">{{ item.name_html }}</h3>
        <div class="grid grid-cols-2 gap-16">
            <div class="grid grid-cols-2 {% cycle 'order-first', 'order-last' %}">
                <div class="bg-image-style border border-light h-[30vh]"
                    style="background-image: url('{{ item.image-1.background_image }}'); background-position: {{ item.image-1.image_focus }};">
                </div>
                <div class="bg-image-style border border-light h-[30vh]"
                    style="background-image: url('{{ item.image-2.background_image }}'); background-position: {{ item.image-2.image_focus }};">
                </div>
            </div>
            <div id="content" class="col-span-1 {% cycle 'text-left', 'text-right' %}">
                <p>{{ item.description_html }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


