<section class="video-text-container relative min-h-[90vh] lg:min-h-[65vh] flex items-center justify-center border-b border-light">
   <!-- Header Nav -->
    <div class="header-nav w-full px-5p py-8 absolute top-0 z-20 hidden md:block">
        <div class="flex justify-between items-center">
            <a href="/" class="w-32">
                <img src="{{ site.data.site-settings.logo.image_path }}" alt="Logo" class="w-full">
            </a>

            <!-- Desktop Menu -->
            {% include nav-desktop.html %}
        </div>
    </div>    
    
    <!-- Background Video Container -->
    <div class="bg-video-container absolute top-0 left-0 right-0 bottom-0">
        <video autoplay muted loop playsinline class="bg-video">
            <source src="/uploads/video/krooked-collective-1.webm" type="video/webm">
            <source src="/uploads/video/krooked-collective-1.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
    </div>
</section>
