<footer>
    <div class="pt-5p pb-[2.5%] px-5p">
        <div class="grid sm:grid-cols-5 gap-4">
            <div class="sm:col-span-2">
                <span class="text-sm-serif block text-feature">Krooked Collective</span>
            </div>

            <div class="sm:col-span-3">
                <h2 class="md:text-right mt-8 sm:mt-0">Contact</h2>
                {% include form-contact.html %}
            </div>
        </div>
        <div class="flex justify-center">
            <a href="#" target="_blank"><img src="#" class="social-icon"></a>
            <a href="#" target="_blank"><img src="#" class="social-icon"></a>
            <a href="#" target="_blank"><img src="#" class="social-icon"></a>
        </div>
    </div>
    <div class="p-4">
        <p class="text-center text-[0.9rem]">Crafted & Developed by <a href="https://embodiedcreativeagency.com" target="_blank">Embodied Creative</a></p>
    </div>
</footer>