<section class="bg-medium py-10p lg:p-10p">
    <div class="mb-16 px-10p lg:px-0">
        <h2 class="serif-lg">{{ page.upcoming-events.heading }}</h2>
        <p>{{ page.upcoming-events.description_html }}</p>
    </div>

    <div class="flex flex-nowrap overflow-x-auto lg:gap-8">
        {% for item in site.events limit:3 %}
        <div class="shrink-0 lg:shrink lg:w-auto max-w-[75%] mx-4 lg:mx-0">
            <div class="bg-image-style min-h-[25vh] border border-light mb-4" style="background-image:url('{{item.featured_image}}');"></div>
            <span class="uppercase"> {{item.categories | join: ' ' }} </span>
            <h3 class="margin-t-1 font-serif mt-4"> {{item['event-name']}} </h3>
            <p class="line-clamp-2"> {{item.description_html | strip_html | truncatewords: 50 }} </p>
            <a href="{{item.url}}" class="button mt-4 hover:text-light hover:border-light">Learn More</a>
        </div>
        {% endfor %}
    </div>
</section>

