---
layout: default
---

<section>
    <div class="grid grid-cols-3">
        <div class="bg-image-style aspect-landscape" style="background-image: url('{{page.featured_image}}');"></div>
        <div class="col-span-2">
            <h1>{{page.event-name}}</h1>
            <p>{{page.event-date | date_to_long_string}}</p>
            <p>{{page.event-time}}</p>
            <a href="{{page.ticket-url}}">Reserve Your Spot</a>
        </div>
    </div>
    <div>
        <p>{{page.location}}</p>
        <p>{{page.description_html}}</p>
        <span>{{page.categories}}</span>
    </div>
</section>